# DSAGenesis gitignore

# Eclipse Related
.project
.classpath
.metadata
.settings/
bin/**
tmp/**
tmp/**/*
*.tmp
*.MF
.externalToolBuilders/


# DSAGenesis Releated

ant/build.properties
ant/buildproject.num
ant/xsdCache.properties

/config/
/logs/


# has its own git repo
/data/**
