# DSAGenesis gitignore

# Eclipse Related
.project
.classpath
.metadata
.settings/
bin/**
tmp/**
tmp/**/*
*.tmp
*.MF
.externalToolBuilders/

# Gesesis Releated

ant/build.properties
ant/buildproject.num

config/
logs/


