#depends on:
# - build.properties
# - buildproject.num

#release full package
release.archive=${project.name.short}_${project.version.num}-b${build.number}.zip
release.dir=${dir.workspace}DSAGenesis_Release\\

#update package
jappdater.upload.server=
jappdater.upload.user=
jappdater.upload.pwd=


jappdater.download.server=http://dsagenesis.veitengruber.com

jappdater.patch.local.dir=${release.dir}patch\\
jappdater.patch.remote.dir=patch/
jappdater.snippet.dir=
jappdater.root.dir=