#depends on:
# - build.properties
# - buildproject.num

#release full package
release.archive={project.name.short}_{project.version.num}.zip
release.dir=${dir.workspace}../../DSAGenesis_Release/

#update package
jappdater.server=
jappdater.user=
jappdater.pwd=
jappdater.dir=